body, .reveal, .reveal div, .reveal h1, .reveal h2, .reveal h3, .reveal h4  {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 400 !important;
}

.reveal pre {
    font-family: 'Source Code Pro', sans-serif !important;
    font-weight: 400 !important;
}

div.highlight pre {
    font-size: 16px !important;
}

strong {
    font-weight: 600 !important;
}

table.dataframe {
    font-size: 16px;
}

table.dataframe th {
    font-weight: 600 !important;
}

.output_pyout p {
    font-size: 15px;
}
